[Unit]
Description=pyPFC Daemon (Power and Fan Control)
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/root/.local/bin/pypfc

[Install]
WantedBy=multi-user.target
